/* line 5, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
a img {
  border: none;
}

/* line 116, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.1\stylesheets\compass\reset\_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../sass/core/_resets.scss */
body {
  font-family: "Lucida Grande";
  overflow-x: auto;
}

/* line 9, ../../sass/core/_variables.scss */
.red {
  background-color: red;
}

/* line 13, ../../sass/core/_variables.scss */
.blue {
  background-color: blue;
}

/* line 17, ../../sass/core/_variables.scss */
.green {
  background-color: green;
}

/* line 21, ../../sass/core/_variables.scss */
.yellow {
  background-color: yellow;
}

/* line 25, ../../sass/core/_variables.scss */
.none {
  display: none;
}

/* line 3, ../../sass/components/_css-properties.scss */
.position-static {
  position: static;
}

/* line 7, ../../sass/components/_css-properties.scss */
.position-absolute {
  position: absolute;
}

/* line 11, ../../sass/components/_css-properties.scss */
.position-relative {
  position: relative;
}

/* line 15, ../../sass/components/_css-properties.scss */
.position-fixed {
  position: fixed;
}

/* line 23, ../../sass/components/_css-properties.scss */
.normal {
  font-weight: normal;
}

/* line 27, ../../sass/components/_css-properties.scss */
.bold {
  font-weight: bold;
}

/* line 31, ../../sass/components/_css-properties.scss */
.italic {
  font-style: italic;
}

/* line 35, ../../sass/components/_css-properties.scss */
.align-left {
  text-align: left;
}

/* line 39, ../../sass/components/_css-properties.scss */
.align-center {
  text-align: center;
}

/* line 43, ../../sass/components/_css-properties.scss */
.align-right {
  text-align: right;
}

/* line 47, ../../sass/components/_css-properties.scss */
.align-justify {
  text-align: justify;
  font-style: normal;
  font-weight: normal;
}

/* line 53, ../../sass/components/_css-properties.scss */
.align-center {
  text-align: center !important;
}

/* line 57, ../../sass/components/_css-properties.scss */
.align-right {
  text-align: right;
}

/* line 65, ../../sass/components/_css-properties.scss */
.display-block {
  display: block !important;
}

/* line 69, ../../sass/components/_css-properties.scss */
.display-inline {
  display: inline !important;
}

/* line 73, ../../sass/components/_css-properties.scss */
.display-inline-block {
  display: inline-block !important;
}

/* line 77, ../../sass/components/_css-properties.scss */
.display-inline-table {
  display: inline-table !important;
}

/* line 81, ../../sass/components/_css-properties.scss */
.display-list-item {
  display: list-item !important;
}

/* line 85, ../../sass/components/_css-properties.scss */
.display-none {
  display: none;
}

/* line 89, ../../sass/components/_css-properties.scss */
.display-table {
  display: table !important;
}

/* line 97, ../../sass/components/_css-properties.scss */
.no-padding {
  padding: 0 !important;
}

/* line 102, ../../sass/components/_css-properties.scss */
.margin-center {
  position: relative;
  margin: 0 auto;
}

/* line 107, ../../sass/components/_css-properties.scss */
.no-margin-bottom {
  margin-bottom: 0 !important;
}

/* line 112, ../../sass/components/_css-properties.scss */
.no-border {
  border: none;
}

/* line 116, ../../sass/components/_css-properties.scss */
.no-border-left {
  border-left: none !important;
}

/* line 120, ../../sass/components/_css-properties.scss */
.no-border-top {
  border-top: none !important;
}

/* line 124, ../../sass/components/_css-properties.scss */
.no-border-right {
  border-right: none !important;
}

/* line 128, ../../sass/components/_css-properties.scss */
.no-border-bottom {
  border-bottom: none !important;
}

/* line 131, ../../sass/components/_css-properties.scss */
.no-border-radius-top {
  -moz-border-radius: 0 0 3px 3px !important;
  -webkit-border-radius: 0;
  border-radius: 0 0 3px 3px !important;
}

/* line 139, ../../sass/components/_css-properties.scss */
.mid-size {
  font-size: 13px;
}

/* line 147, ../../sass/components/_css-properties.scss */
.va-top {
  vertical-align: top;
}

/* line 151, ../../sass/components/_css-properties.scss */
.va-baseline {
  vertical-align: baseline;
}

/* line 155, ../../sass/components/_css-properties.scss */
.va-bottom {
  vertical-align: bottom;
}

/* line 159, ../../sass/components/_css-properties.scss */
.va-inherit {
  vertical-align: inherit;
}

/* line 163, ../../sass/components/_css-properties.scss */
.va-initial {
  vertical-align: initial;
}

/* line 167, ../../sass/components/_css-properties.scss */
.va-middle {
  vertical-align: middle;
}

/* line 171, ../../sass/components/_css-properties.scss */
.va-sub {
  vertical-align: sub;
}

/* line 175, ../../sass/components/_css-properties.scss */
.va-super {
  vertical-align: super;
}

/* line 179, ../../sass/components/_css-properties.scss */
.va-text-bottom {
  vertical-align: text-bottom;
}

/* line 183, ../../sass/components/_css-properties.scss */
.va-text-top {
  vertical-align: text-top;
}

/* line 191, ../../sass/components/_css-properties.scss */
.cursor-default {
  cursor: default;
}

/* line 195, ../../sass/components/_css-properties.scss */
.cursor-pointer {
  cursor: pointer;
}

/* line 203, ../../sass/components/_css-properties.scss */
.no-border {
  border: none !important;
}

/* line 207, ../../sass/components/_css-properties.scss */
.border-left {
  border-left-width: 1px !important;
}

/* line 211, ../../sass/components/_css-properties.scss */
.border-right {
  border-right-width: 1px !important;
}

/* line 218, ../../sass/components/_css-properties.scss */
.no-box-shadow {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/* line 226, ../../sass/components/_css-properties.scss */
.radius-left {
  -moz-border-radius: 3px 0 0 3px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px 0 0 3px !important;
}

/* line 230, ../../sass/components/_css-properties.scss */
.radius-top {
  -moz-border-radius: 3px 3px 0 0 !important;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px 0 0 !important;
}

/* line 234, ../../sass/components/_css-properties.scss */
.radius-right {
  -moz-border-radius: 0 3px 3px 0 !important;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0 !important;
}

/* line 238, ../../sass/components/_css-properties.scss */
.radius-bottom {
  -moz-border-radius: 0 0 3px 3px !important;
  -webkit-border-radius: 0;
  border-radius: 0 0 3px 3px !important;
}

/* line 242, ../../sass/components/_css-properties.scss */
.radius-all {
  -moz-border-radius: 3px !important;
  -webkit-border-radius: 3px;
  border-radius: 3px !important;
}

/* line 250, ../../sass/components/_css-properties.scss */
.overflow-hidden {
  overflow: hidden;
}

/* line 1, ../../sass/components/_belongs.scss */
.belongs-wrapper {
  background-color: #fff;
}
/* line 2, ../../sass/core/_mixins.scss */
.belongs-wrapper:before, .belongs-wrapper:after {
  content: ' ';
  display: table;
}
/* line 7, ../../sass/core/_mixins.scss */
.belongs-wrapper:after {
  clear: both;
}

/* line 7, ../../sass/components/_belongs.scss */
.belong-item {
  background-color: #F6F7F7;
  margin: 12px 0;
  padding: 8px;
  position: relative;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
}
/* line 2, ../../sass/core/_mixins.scss */
.belong-item:before, .belong-item:after {
  content: ' ';
  display: table;
}
/* line 7, ../../sass/core/_mixins.scss */
.belong-item:after {
  clear: both;
}

/* line 17, ../../sass/components/_belongs.scss */
.belongs-item-picture {
  background-color: #fff;
  -moz-box-shadow: 0 2px 3px #000;
  -webkit-box-shadow: 0 2px 3px #000;
  box-shadow: 0 2px 3px #000;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 26, ../../sass/components/_belongs.scss */
.belongs-item-name {
  margin: 8% 0 3%;
  font-weight: bold;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 32, ../../sass/components/_belongs.scss */
.belongs-item-description {
  color: #AFAFAF;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 37, ../../sass/components/_belongs.scss */
.belong-item-borred {
  background-color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

/* line 48, ../../sass/components/_belongs.scss */
.belongs-borrowed {
  position: absolute;
  bottom: 0;
  z-index: 1;
}
/* line 53, ../../sass/components/_belongs.scss */
.belongs-borrowed .belongs-borrowed-label {
  background-color: #fff;
  line-height: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
}
/* line 60, ../../sass/components/_belongs.scss */
.belongs-borrowed .friends-belongs-card {
  background-color: #fff;
}

/* line 65, ../../sass/components/_belongs.scss */
.belong-options {
  width: 15%;
  height: 25%;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 71, ../../sass/components/_belongs.scss */
.belong-options .beleong-options-toggle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: red;
}
/* line 78, ../../sass/components/_belongs.scss */
.belong-options .belong-options-buttons {
  width: 125%;
  position: absolute;
  right: 84%;
  top: 0;
  height: 100%;
}
/* line 85, ../../sass/components/_belongs.scss */
.belong-options .belong-options-buttons li {
  float: left;
  width: 50%;
  height: 100%;
}
/* line 90, ../../sass/components/_belongs.scss */
.belong-options .belong-options-buttons li button, .belong-options .belong-options-buttons li a {
  width: 92%;
  height: 100%;
  position: relative;
}
/* line 96, ../../sass/components/_belongs.scss */
.belong-options .belong-options-buttons li .glyphicon-pencil {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
}

/* line 1, ../../sass/components/_buttons.scss */
.btn {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding-left: 8px;
  padding-right: 8px;
}

/* line 7, ../../sass/components/_buttons.scss */
.btn-emprestar {
  color: #44bc98;
  border-color: #44bc98;
}
/* line 11, ../../sass/components/_buttons.scss */
.btn-emprestar:hover, .btn-emprestar:active, .btn-emprestar:focus {
  color: #42b996;
}

/* line 2, ../../sass/core/_mixins.scss */
.menu-things-lended:before, .menu-things-lended:after {
  content: ' ';
  display: table;
}
/* line 7, ../../sass/core/_mixins.scss */
.menu-things-lended:after {
  clear: both;
}
/* line 3, ../../sass/components/_container.scss */
.menu-things-lended li {
  font-weight: bold;
  text-align: center;
  height: 50px;
  line-height: 44px;
  background-color: #fff;
  border: 4px solid transparent;
  cursor: pointer;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out 0.1s;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out 0.1s;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition-delay: 0s, 0.1s;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out 0.1s;
}
/* line 13, ../../sass/components/_container.scss */
.menu-things-lended li:first-child {
  color: #44bc98;
  border-color: #44bc98;
}
/* line 17, ../../sass/components/_container.scss */
.menu-things-lended li:first-child.active {
  color: #fff;
  background-color: #44bc98;
}
/* line 23, ../../sass/components/_container.scss */
.menu-things-lended li:last-child {
  color: #E97D23;
  border-color: #E97D23;
}
/* line 27, ../../sass/components/_container.scss */
.menu-things-lended li:last-child.active {
  color: #fff;
  background-color: #E97D23;
}

/* line 1, ../../sass/components/_header.scss */
.vv-header {
  background-image: url('../img/header/header-picture-bg.jpg?1348649170');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  height: 299px;
}

/* line 10, ../../sass/components/_header.scss */
.vv-header-bar {
  background-image: url('../img/header/bg-header.png?1408923372');
  border-bottom: 1px solid #43bb97;
  height: 50px;
}
/* line 15, ../../sass/components/_header.scss */
.vv-header-bar .logo-header {
  position: relative;
  width: 113px;
}
/* line 19, ../../sass/components/_header.scss */
.vv-header-bar .logo-header.active {
  z-index: 3;
}
/* line 24, ../../sass/components/_header.scss */
.vv-header-bar > .vv-nav-header {
  float: right;
  height: 50px;
  line-height: 50px;
}
/* line 30, ../../sass/components/_header.scss */
.vv-header-bar .icon-reorder {
  display: none;
  color: #fff;
  font-size: 46px;
  text-align: center;
  position: relative;
  border-left: 3px solid #44bc98;
  border-right: 3px solid #44bc98;
  border-bottom: 3px solid #44bc98;
  cursor: pointer;
}
@media screen and (max-width: 760px) {
  /* line 10, ../../sass/components/_header.scss */
  .vv-header-bar {
    text-align: center;
  }
  /* line 45, ../../sass/components/_header.scss */
  .vv-header-bar > .vv-nav-header {
    width: 65px;
  }
  /* line 48, ../../sass/components/_header.scss */
  .vv-header-bar > .vv-nav-header .icon-reorder {
    display: block;
  }
  /* line 51, ../../sass/components/_header.scss */
  .vv-header-bar > .vv-nav-header .icon-reorder.active {
    border-left-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    z-index: 3;
  }
}

@media screen and (max-width: 760px) {
  /* line 4, ../../sass/components/_sidebar.scss */
  .vv-sidebar-wrapper .vv-sidebar {
    background-color: #000;
    width: 262px;
    height: 200%;
    padding: 54px 2px 0;
    position: fixed;
    top: 0;
    right: -264px;
    z-index: 2;
    -moz-transition: right 0.1s linear;
    -o-transition: right 0.1s linear;
    -webkit-transition: right 0.1s linear;
    transition: right 0.1s linear;
  }
  /* line 15, ../../sass/components/_sidebar.scss */
  .vv-sidebar-wrapper .vv-sidebar > li {
    text-align: left;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #666;
    font-size: 17px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3;
  }
  /* line 23, ../../sass/components/_sidebar.scss */
  .vv-sidebar-wrapper .vv-sidebar > li:hover, .vv-sidebar-wrapper .vv-sidebar > li.active {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  /* line 27, ../../sass/components/_sidebar.scss */
  .vv-sidebar-wrapper .vv-sidebar > li a {
    color: #fff;
    padding-left: 4px;
    display: block;
  }
  /* line 36, ../../sass/components/_sidebar.scss */
  .vv-sidebar-wrapper.active .vv-sidebar-close {
    display: block;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: opacity 0.1s linear;
    -o-transition: opacity 0.1s linear;
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
  }
  /* line 42, ../../sass/components/_sidebar.scss */
  .vv-sidebar-wrapper.active .vv-sidebar {
    right: 0;
    -moz-box-shadow: -11px 0 45px #000;
    -webkit-box-shadow: -11px 0 45px #000;
    box-shadow: -11px 0 45px #000;
  }
}

/* line 50, ../../sass/components/_sidebar.scss */
.vv-sidebar-close {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 200%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
