{% extends 'emprestados/base.html' %}
{% block body %}
    {% set emprestado=emprestado or None %}
    {% set errors=errors or None %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <br/>

                <div class="well">
                    <h1 class="text-center">{% trans %}Emprestado Form{% endtrans %}</h1>

                    <form action="{{ save_path }}" method="post" role="form">
                        {{ csrf_input() }}
                        {{ form_input(_('Amigo'),'amigo',emprestado.amigo,errors.amigo) }}
                        {{ form_input(_('Pertence'),'pertence',emprestado.pertence,errors.pertence) }}
                        <button type="submit" class="btn btn-success">{% trans %}Save{% endtrans %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}