<!DOCTYPE html>
{% macro csrf_input() %}
    <input type="hidden" value="{{ _csrf_code }}" name="_csrf_code"/>
{% endmacro %}
{% macro form_input(label,property,value,error_msg) %}
    <div class="form-group {{ ' has-error' if error_msg }}">
        <label for="{{ property }}Input"
               class="control-label">{{ label }} </label>
        <input id="{{ property }}Input" type="text" class="form-control" name="{{ property }}"
               value="{{ value }}"/>
        {% if error_msg %}<span class="help-block">{{ error_msg }}</span>{% endif %}
    </div>
{% endmacro %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Dois Vs{% endblock %}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/css/vaievolta.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>

    <!-- angular -->
    <script src="/static/angular/js/angular.min.js"></script>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <script>
        window.app = angular.module('MyApp', []);
        app.config(function($interpolateProvider){
            $interpolateProvider.startSymbol('{[{');
            $interpolateProvider.endSymbol('}]}');
        });

        app.controller("MyCtrl", function($scope){
            $scope.showMenu = false;
            $scope.teste = function(){
                $scope.showMenu = !$scope.showMenu;
            }
        });

        app.controller("HomeCtrl", function($scope){
            $scope.homeChoices = true;

            $scope.pertences = [
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D'
                }

            ];

            $scope.pertencesEmprestados = [
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D',
                    amigo: 'Loren Impsun',
                    amigoFoto: '/static/img/profile/exemplo-profile.png'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D',
                    amigo: 'Loren Impsun',
                    amigoFoto: '/static/img/profile/exemplo-profile.png'
                },

                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D',
                    amigo: 'Loren Impsun',
                    amigoFoto: '/static/img/profile/exemplo-profile.png'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D',
                    amigo: 'Loren Impsun',
                    amigoFoto: '/static/img/profile/exemplo-profile.png'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D',
                    amigo: 'Loren Impsun',
                    amigoFoto: '/static/img/profile/exemplo-profile.png'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D',
                    amigo: 'Loren Impsun',
                    amigoFoto: '/static/img/profile/exemplo-profile.png'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D',
                    amigo: 'Loren Impsun',
                    amigoFoto: '/static/img/profile/exemplo-profile.png'
                },
                {
                    imagem: '/static/img/product/canon.jpg',
                    nome: 'Câmera fotografica',
                    desc: 'CANON EOS 40D',
                    amigo: 'Loren Impsun',
                    amigoFoto: '/static/img/profile/exemplo-profile.png'
                }

            ]
        })
    </script>

    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body ng-app="MyApp">
    <header class="vv-header">
        <div class="vv-header-bar col-md-12 position-static" ng-controller="MyCtrl">
            <img class="logo-header" ng-class="{active: showMenu}" src="/static/img/logo-header.png">
            <nav class="vv-nav-header">
                <span class="icon-reorder" ng-class="{'active': showMenu}" ng-click="teste()"></span>
            </nav>
            <div class="vv-sidebar-wrapper" ng-class="{'active': showMenu}" >
                <div class="vv-sidebar-close" ng-click="teste()"></div>
                <ul class="vv-sidebar">
                    {% macro select_tab(tab='') %}
                        <li {{ 'class=active' if tab=='EMPRESTARS' }}>
                            <a href="/emprestars">Emprestar</a>
                        </li>
                        <li {{ 'class=active' if tab=='EMPRESTADOS' }}>
                            <a href="/emprestados">Emprestados</a>
                        </li>
                        <li {{ 'class=active' if tab=='AMIGOS' }}>
                            <a href="/amigos">Amigos</a>
                        </li>
                        <li {{ 'class=active' if tab=='QUEROS' }}>
                            <a href="/queros">Quero Emprestado</a>
                        </li>
                    {% endmacro %}
                    {% block tabs %}
                        {{ select_tab() }}
                    {% endblock %}
                </ul>

            <!--
                <ul class="vv-sidebar">
                    <li><a href="/">Home</a></li>
                    <li><a href="/emprestar_app">Emprestar</a></li>
                    <li><a href="/">Emprestados</a></li>
                    <li><a href="/">Meus pertences</a></li>
                    <li><a href="/">Quero emprestado</a></li>
                    <li><a href="/">Amigos</a></li>
                </ul>
            -->


            </div>
        </div>
    </header>

    {% block body %}
        <main>Aqui vai a tag <code><main></main></code> </main>
    {% endblock %}

    <footer class="col-md-12">
        2Vs - Vai & Volta
    </footer>
</body>
</html>