<div class="well">
    <h1 class="text-center">Emprestar Form</h1>

    <form role="form">
        <div class="form-group ">
            <label for="emprestarInput" class="control-label">Emprestar </label>
            <input id="emprestarInput" type="text" class="form-control" ng-model="emprestar">
        </div>

        <div class="form-group ">
            <label for="pertenceInput" class="control-label">Pertence </label>
            <input id="pertenceInput" type="text" class="form-control" ng-model="pertence" >
        </div>

        <div class="form-group ">
            <label for="descricaoInput" class="control-label">Descricao </label>
            <input id="descricaoInput" type="text" class="form-control" ng-model="descricao">
        </div>

        <div class="form-group ">
            <label for="nomeInput" class="control-label">Nome </label>
            <input id="nomeInput" type="text" class="form-control" ng-model="nome">
        </div>

        <button class="btn btn-success" ng-click="salvar()" ng-show="!salvando">Save</button>
        <button class="btn btn-success" ng-show="salvando">Salvando</button>
    </form>
</div>