$white: #fff;
$black: #000;
$green: #44bc98;
$orange: #E97D23;
$dark-white: #F6F7F7;
$light-gray: #AFAFAF;
$gray: #231F20;

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.none {
  display: none;
}