{% extends 'emprestars/base.html' %}
{%  block js %}
    <script src="/static/emprestar/js/emprestar.js"></script>
    <script>
        var emprestars = {{ emprestars | safe}};
    </script>
{%  endblock %}
{% block body %}
    <div class="container" ng-controller="EmprestarCtrl">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}This is a generic home for emprestar_app {% endtrans %}  </h1>
                <!-- <a href="{{ new_path }}" class="btn btn-success">{% trans %}Create New Emprestar{% endtrans %}</a> -->
                <button class="btn btn-success" ng-hide="mostrarForm" ng-click="toggleShow()">Cadastrar item para ser emprestado</button>
                <button class="btn btn-success" ng-show="mostrarForm" ng-click="toggleShow()">Cancelar cadastro de item para ser emprestado</button>
                <emprestarform  elementos="emprestars" toggleShow="toggleShow" ng-show="mostrarForm"></emprestarform>
                <hr/>
                <h2>{% trans %}List of Emprestars{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th/>
                        <th>{% trans %}Id{% endtrans %}</th>
                        <th>{% trans %}Creation{% endtrans %}</th>
                        <th>{% trans %}Emprestar{% endtrans %}</th>
                        <th>{% trans %}Pertence{% endtrans %}</th>
                        <th>{% trans %}Descricao{% endtrans %}</th>
                        <th>{% trans %}Nome{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="emprestar in emprestars track by $index">
                            <td><a href="{[{ emprestar.edit_path }]}" class="btn btn-success btn-sm"><i
                                    class="glyphicon glyphicon-pencil"></i></a></td>
                            <td>{[{ emprestar.id }]}</td>
                            <td>{[{ emprestar.creation }]}</td>
                            <td>{[{ emprestar.emprestar }]}</td>
                            <td>{[{ emprestar.pertence }]}</td>
                            <td>{[{ emprestar.descricao }]}</td>
                            <td>{[{ emprestar.nome }]}</td>
                            <td>
                                <form action="{[{ emprestar.delete_path }]}" method="post" onsubmit="return confirm('{{_('Are you sure to delete? Press cancel to avoid deletion.')}}');">
                                    {{ csrf_input() }}
                                    <button class="btn btn-danger btn-sm"><i
                                            class="glyphicon glyphicon-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}