{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/css/vaievolta.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
        <div class="container red" ng-controller="HomeCtrl">
            <ul class="menu-things-lended">
                <li class="col-xs-6" ng-class="{active: homeChoices}" ng-click="homeChoices = true">Emprestar</li>
                <li class="col-xs-6" ng-class="{active: !homeChoices}" ng-click="homeChoices = false">Emprestados</li>
            </ul>

            <ul class="col-md-12 belongs-wrapper" ng-show="homeChoices">
                <li class="col-md-6" ng-repeat="pertence in pertences">
                    <div class="belong-item">
                        <div class="belong-item-borred" ng-show="!homeChoices"></div>
                        <img src="{[{pertence.imagem}]}" class="belongs-item-picture col-xs-6 col-sm-4"></img>
                        <div class="belongs-item-info col-xs-6 col-sm-4">
                            <dl>
                                <dt class="belongs-item-name">{[{pertence.nome}]}</dt>
                                <dd class="belongs-item-description">{[{pertence.desc}]}</dd>
                            </dl>
                            <a href="#">Ver detalhes</a>

                            <button class="">Emprestar</button>
                        </div>
                    </div>
                    <div class="belongs-borrowed col-md-12" ng-hide="homeChoices">
                        <div class="belongs-borrowed-label col-xs-9">Nome de teste</div>
                        <img class="friends-belongs-card col-xs-3" src="{[{pertence.imagem}]}">
                    </div>
                </li>
            </ul>

            <ul class="col-md-12 belongs-wrapper" ng-hide="homeChoices">
                <li class="col-md-6" ng-repeat="pertenceEmprestado in pertencesEmprestados" ng-class="{'belongs-borrowed-wrapper': !homeChoices}">
                    <div class="belong-item">
                        <div class="belong-item-borred" ng-show="!homeChoices"></div>
                        <img src="{[{pertenceEmprestado.imagem}]}" class="belongs-item-picture col-xs-6 col-sm-4"></img>
                        <div class="belongs-item-info col-xs-6 col-sm-4">
                            <dl>
                                <dt class="belongs-item-name">{[{pertenceEmprestado.nome}]}</dt>
                                <dd class="belongs-item-description">{[{pertenceEmprestado.desc}]}</dd>
                            </dl>
                            <a href="#">Ver detalhes</a>

                            <button class="">Emprestar</button>
                        </div>
                    </div>
                    <div class="belongs-borrowed col-xs-12" ng-show="!homeChoices">
                        <div class="belongs-borrowed-label col-xs-9">{[{pertenceEmprestado.amigo}]}</div>
                        <img class="friends-belongs-card col-xs-3 pull-right" src="{[{pertenceEmprestado.amigoFoto}]}">
                    </div>
                </li>
            </ul>
        </div>

    <div class="container text-center none">
        <div class="row">
            <div class="col-md-12">
                <h1>Tekton</h1>
                <p>{% trans %}A Full-Stack project for Google App Engine{% endtrans %}</p>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-md-6">
                <div class="well">
                    <h2>{% trans %}Create CRUD code on
                        <a href="https://cloud.google.com/products/app-engine/">App Engine</a>{% endtrans %}
                    </h2>
                    <br/>

                    <p>
                        <a href="/courses" class="btn btn-primary"></i>{% trans %} Check Courses App
                            Out{% endtrans %} &raquo;</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="well">
                    <h2>{% trans %}Tekton is open source.{% endtrans %}</h2>
                    <br/>

                    <p>
                        <a href="https://github.com/renzon/tekton-fullstack" class="btn btn-social btn-github"><i
                                class="fa icon-github"></i>{% trans %}Check Git Hub Out{% endtrans %} &raquo;</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}